#site-footer {
  background-color: lighten(black, 20%);
  border-top: 3px solid $color-yellow;
  padding: 30px 0 30px;
}

@mixin social-icon-content-color($name, $content, $color) {
  a.#{$name} {
    background-color: lighten(black, 20%);
    &:before { content: $content; }
    &:hover { background-color: darken($color, 10%); }
    &:active { background-color: darken($color, 20%); }
  }
}

#social-icons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  max-width: 350px;
  .social-icon {
    a {
      $color-social-icon: $color-white;
      $size-social-icon: 44px;
      @include transition(background-color 0.2s linear);
      text-decoration: none;
      display: block;
      width: $size-social-icon;
      height: $size-social-icon;
      margin: 0 auto;
      padding: 6px 0;
      text-align: center;
      border: 2px solid $color-social-icon;
      color: $color-social-icon;
      @include border-radius($size-social-icon/2);
      &:before {
        font: 130%/1.35 zocial;
        font-style: normal;
        font-weight: normal;
        display: inline-block;
      }
    }

    span {
      display: none;
    }

    @include social-icon-content-color("twitter", "T", $color-twitter);
    @include social-icon-content-color("googleplus", "+", $color-googleplus);
    @include social-icon-content-color("linkedin", "L", $color-linkedin);
    @include social-icon-content-color("quora", "q", $color-quora);
    @include social-icon-content-color("github", "\00E8", $color-github);
    @include social-icon-content-color("rss", "R", $color-rss);
  }
}

#searchform {
  position: relative;
  max-width: 350px - 15px;
  margin: 0 auto;

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  #search-label {
    background: transparent url(../img/search.png) no-repeat top left;
    cursor: pointer;
    display: inline-block;
    text-indent: -99999px;
    width: 16px;
    height: 17px;
    margin: 0 10px;
    position: absolute;
    left: 0;
    top: 10px;
  }

  #search {
    background: lighten(black, 25%);
    @include border-radius(20px);
    color: $color-white-dark;
    width: 100%;
    border: 2px solid $color-white-dark;
    outline: none;
    padding: 2px 5px 2px 35px;
    @include transition(all 0.1s linear);
    &:focus {
      color: black(0.75);
      background: lighten(black, 50%);
    }
  }

}

#search-info {
  font-size: 0.6rem;
  max-width: 350px - 15px - 20px;
  text-align: right;
  margin: -10px auto 10px;
  line-height: 0;
  color: $color-white-dark;
}
