#site-footer {
  background-color: lighten(black, 20%);
  border-top: 3px solid $color-yellow;
  padding: 30px 0 30px;
}

@mixin social-icon-content-color($name, $content, $color) {
  a.#{$name} {
    background-color: lighten(black, 20%);
    &:before { content: $content; }
    &:hover { background-color: darken($color, 10%); }
    &:active { background-color: darken($color, 20%); }
  }
}

#social-icons {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  .social-icon {
    a {
      $color-social-icon: $color-white;
      $size-social-icon: 44px;
      @include transition(background-color 0.2s linear);
      text-decoration: none;
      display: block;
      width: $size-social-icon;
      height: $size-social-icon;
      margin: 0 auto;
      padding: 6px 0;
      text-align: center;
      border: 2px solid $color-social-icon;
      color: $color-social-icon;
      @include border-radius($size-social-icon/2);
      &:before {
        font: 130%/1.35 zocial;
        font-style: normal;
        font-weight: normal;
        display: inline-block;
      }
    }

    span {
      display: none;
    }

    @include social-icon-content-color("twitter", "T", $color-twitter);
    @include social-icon-content-color("googleplus", "+", $color-googleplus);
    @include social-icon-content-color("linkedin", "L", $color-linkedin);
    @include social-icon-content-color("quora", "q", $color-quora);
    @include social-icon-content-color("github", "\00E8", $color-github);
    @include social-icon-content-color("rss", "R", $color-rss);
  }
}
