#site-footer {
  background-color: lighten(black, 20%);
  border-top: 3px solid $color-yellow;
  padding: 15px 0 25px;
}

#social-icons {
  width: 230px; // Temporarily centered.

  .social-icon {
    margin-left: 0.3rem;

    a {
      $color-social-icon: $color-white-dark;
      @include transition(color 0.2s linear);
      text-decoration: none;
      display: block;
      width: 40px;
      height: 40px;
      padding: 4px 7px;
      border: 2px solid $color-social-icon;
      color: $color-social-icon;
      @include border-radius(6px);
      &:before {
        font: 130%/1.35 zocial;
        font-style: normal;
        font-weight: normal;
        display: inline-block;
      }
    }

    span {
      display: none;
    }

    @include social-icon-content-color("twitter", "T", $color-twitter);
    @include social-icon-content-color("googleplus", "+", $color-googleplus);
    @include social-icon-content-color("linkedin", "L", $color-linkedin);
    @include social-icon-content-color("quora", "q", $color-quora);
    @include social-icon-content-color("github", "\00E8", $color-github);
  }
}
