#site-header {
  background-color: rgba($color-prim, 0.4);
  border-bottom: 1px solid black(0.5);
  padding: 10px 0 15px;
}

$color-title: lighten(black, 20%);
#site-title {
  .name, .description {
    margin: 0;
    padding: 0;
  }
  .name {
    letter-spacing: 3px;
    .domain {
      color: $color-title;
      font-weight: 400;
    }
    .tld {
      color: lighten($color-title, 30%);
      font-weight: 100;
    }
  }
  .description {
    font-weight: 400;
    text-transform: uppercase;
    color: lighten($color-title, 20%);
    letter-spacing: 2px;
    line-height: 0.5;
    small { line-height: 1.6; }
  }
}

#site-title-link {
  text-decoration: none;
}
