#site-header {
  background-color: lighten(black, 20%);
  border-bottom: 3px solid $color-yellow;
  padding: 10px 0 15px;
}

$color-title-icon: $color-yellow;
#title-icon {
  font-weight: 400;
  line-height: 0;
  border: 3px solid $color-title-icon;
  @include border-radius(6px);
  margin: 8px 10px 25px 0;
  position: relative;
  width: 24px;
  height: 24px;
  font-size: 36px;

  .dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: $color-title-icon;
    @include border-radius(3px);
    @include transition(all 0.4s linear);
  }
  .dot.first { top: 2px; right: 2px; }
  .dot.second { bottom: 2px; left: 2px; }
  .dot.third { bottom: 2px; right: 2px; }
}

#site-title {
  .name, .description {
    margin: 0;
    padding: 0;
  }
  $color-title: $color-white;
  .name {
    letter-spacing: 4px;
    color: $color-title;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    .tld {
      font-weight: 100;
      font-size: 14px;
    }
  }
  .description {
    color: $color-white-dark;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.1;
  }
}

#site-title-link {
  display: block;
  text-decoration: none;
  &:hover {
    #title-icon {
      .dot.first { top: 10px; }
      .dot.second { bottom: 10px; }
      .dot.third { right: 10px; }
    }
  }
}

#site-nav {
  margin-top: 9px;
  margin-bottom: 0;
  font-family: $header-font-family;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;

  $color-nav: $color-red;
  .site-nav-item {
    margin: 5px -5px;
    color: $color-nav;
    &:hover { color: color-hover($color-nav); }
    &:active { color: color-active($color-nav); }
    &:first-of-type { text-align: right; }
    &:last-of-type { text-align: left; }
    &.active {
      font-weight: 400;
      color: lighten($color-nav, 10%);
      span { border-bottom: 1px solid lighten($color-nav, 10%); }
    }
  }

  .site-nav-item {
    &:after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      display: block;
      background-color: $color-white-dark;
      @include border-radius(4px);
    }
    &:first-of-type:after { right: -2px; }
    &:last-of-type:after { left: -2px; }
    &.active:after { background-color: $color-nav; }
  }
  .row {
    &:first-of-type .site-nav-item:after { bottom: -2px; }
    &:last-of-type .site-nav-item:after { top: -2px; }
  }
}
