#site-header {
  background-color: lighten(black, 20%);
  border-bottom: 3px solid $color-yellow;
  padding: 10px 0 15px;
}

$color-title-icon: $color-yellow;
#title-icon {
  font-weight: 400;
  padding: 0.2rem 0.5rem;
  color: $color-title-icon;
  line-height: 0;
  border: 3px solid $color-title-icon;
  @include border-radius(6px);
  margin: 8px 10px 25px 0;
  position: relative;
  width: 24px;
  height: 24px;
  font-size: 36px;

  .dot { position: absolute; }
  .dot.first { top: 2px; right: 0px; }
  .dot.second { bottom: 8px; left: 0px; }
  .dot.third { bottom: 8px; right: 0px; }
}

#site-title {
  .name, .description {
    margin: 0;
    padding: 0;
  }
  $color-title: $color-white;
  .name {
    letter-spacing: 4px;
    color: $color-title;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
  }
  .description {
    color: $color-white-dark;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.1;
  }
}

#site-title-link {
  display: block;
  text-decoration: none;
}

#site-nav {
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
  list-style: none;
  font-family: $header-font-family;
  font-weight: 300;
  font-size: 18px;
  .site-nav-item {
    display: inline-block;
    margin: 0 0.5rem;
    a {
      color: $color-turq;
      &:hover { color: lighten($color-turq, 10%); }
      &:active { color: $color-turq-dark; }
    }
  }
}
