@import "compass/css3";

.articles {
  margin-top: 1em;

  $alpha-width: 600px;
  $post-width: $alpha-width - 70px;
  $post-height: 180px;
  $post-padding-x: 15px;
  $post-padding-y: 15px;

  ul.posts-list {
    .post-box-outer {
      display: block;
      float: left;
      margin-bottom: 20px;

      &.post-box-0 { width: $post-width; }
      &.post-box-1, &.post-box-2, &.post-box-odd, &.post-box-even { width: ($post-width / 2) - 10px; }
      &.post-box-1, &.post-box-odd { margin-right: 20px; }
    }

    a.post-box {
      text-decoration: none;
      position: relative;
      display: block;
      vertical-align: top;
      height: $post-height;
      overflow: hidden;

      &:hover, &:active {
        .post-separator {
          @include background(linear-gradient(left, rgba($color-prim, 0.7) 0%, rgba($color-prim, 0.7) 80%, rgba($color-prim, 0) 100%));
        }
      }
      &:active {
        .post-title { padding-top: 1px; }
        .post-separator { margin-bottom: -1px; }
      }
    }

    .post-box-inner {
      height: $post-height - $post-padding-y * 2;
      overflow: hidden;
    }

    .post-date {
      position: absolute;
      top: 10px;
      left: 15px;
      font-size: 12px;
      font-weight: 300;
      color: white(0.8);
      font-family: $code-font-family;
      display: none;
    }

    .post-title {
      vertical-align: top;
      overflow: hidden;
      color: black(0.8);
      font-size: 20px;
      font-weight: 400;
      font-family: $title-font-family;
      letter-spacing: 1px;
      padding-bottom: 5px;
    }

    .post-separator {
      width: 100%;
      height: 1px;
      @include background(linear-gradient(left, rgba($color-prim, 0.5) 0%, rgba($color-prim, 0.5) 80%, rgba($color-prim, 0) 100%));
    }

    .post-excerpt {
      line-height: 22px;
      color: rgb(164, 164, 164);
      p { margin: 8px 0; }
    }
  }
}
